
.search-container {
    display: flex;
   flex-direction: row;
   justify-content: center; 
   margin: 2rem;
 
}

.custom-btn {
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 9999px; /* rounded-full */
    background-color: #34D399; /* bg-green-500 */
    color: #ffffff; /* text-white */
    font-weight: 600; /* font-semibold */
    border: 2px solid #34D399; /* border border-green-600 */
    transition: background-color 0.3s ease-in-out; /* hover effect transition */
    display: flex; /* flex items */
    align-items: center; /* flex items */
  }
  
  .custom-btn:hover,
  .custom-btn:focus {
    background-color: #10B981; /* hover:bg-green-600, focus:bg-green-600 */
    outline: none; /* Remove outline on focus */
  }
  
  /* Optional: Add more specific styling for specific states */
  .custom-btn.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  

 


    .container {
      width: 100%; /* Full width */
      max-width: 100%; /* Full width */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
      padding-left: 1rem; /* px-4 */
      padding-right: 1rem; /* px-4 */
    }
    

  




  .articles-container {
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 2rem;
    justify-content: center;
    align-items: center;


  }

  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* grid-cols-1 */
    gap: 1.5rem; /* gap-6 */
    justify-items: center;
  }
  
  @media (min-width: 768px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr)); /* md:grid-cols-2 */
      justify-items: center;
      
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr)); /* lg:grid-cols-4 */
      justify-items: center;
    }
  }
  
  
  
    
 